/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

    .skills .jumbo {

        padding-bottom: 20px;

    }

    .team img {

        width: 50%;

    }

    .carousel-caption h1 {

        font-size: 34px;

    }

    .carousel-caption {

        font-size: 28px;

    }

}
